@import url(/css/header.css);
@import url(/css/footer.css);
@import url(/css/home.css);


.contenedorTituloCarrito{
    border-bottom: 1px solid gainsboro;
    text-align: center;
    width: 90%;
    margin: auto;
}

.tituloCarrito{
    padding: 6px;
    margin: 4px;
    font-weight: bolder;
    color: #3AAFB9;
    
}

.contenedorTituloSeguridadDatos{
    border-bottom: 1px solid gainsboro;
    margin: auto;
    text-align: center;
    width: 90%;
    color: #3AAFB9;
}

.carritoVacio{
    margin: auto;
    text-align: center;
    width: 100%;
    color: #B9F18C;
}

.tituloSeguridadDatos{
    padding: 3px;
    margin: 2px;
}

.tituloProducto{
    color: #3AAFB9;
    font-size: 1.5em;
    margin-top: 10%;
}

.seccionProductos{
    
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    width: 90%;
    max-width: max-content;
    display: flex;
    flex-direction: column;
}

.articulosCarrito{
    display: flex;
    border-top: gainsboro 1px solid;
    border-bottom: gainsboro 1px solid;
    flex-direction: column;
}

.productoImagenDescripcion{
    display: flex;
    border-bottom: #3AAFB9 0.5px solid;
    width: 98%;
    margin: auto;
}

.imgProductos{
    width: 50%;
    box-sizing: border-box;
    padding: 1%;
    border-radius: 5%;
    
    margin: 1%;
}

.precioProd{
 display: flex;
 justify-content: flex-end;
 margin-right: 5%;
 font-weight: 600;
 color: #3AAFB9;

}

.precios{
    margin-left: 2%;
    color: #3AAFB9;
    font-weight: 600;
    font-size: 1.3em;
    margin-top: 20px;
    width: 100%;
}

.descripcionProductoCarrito{
   margin: auto;
}


.procederPago{
    display: flex;
    justify-content: center;  
    flex-direction: row;
    margin-right: 2%;
}

/* .contenedorBotonPago{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right:2%;
} */

.linkSeguirComprando{
    font-size: 1.2em;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 15px;
}

.botonPago{
    background-color: #B9F18C;
    color:#3AAFB9;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 10px;
}

.precioProdTotal{
 display: flex;
 justify-content: flex-end;
 margin-right: 20%;
 font-weight: 600;
 color: #3AAFB9;
 font-size: 1.15m;
}

.botonQuitar{
    border-radius:0%;
    border: 0px;
    outline:none;
    color: #3AAFB9;
    background-color: rgba(0,0,0,0);
    transition:  .30s ;
    font-size: 1.5em;
}

.botonPago:hover {
    background-color: #3AAFB9;
    color:#B9F18C;
    
    
}

.botonQuitar:hover{
    transform: rotate(-90deg);
    
}

.botonesPago{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botonesPago button{
    margin-bottom: 20px;
}


@media (min-width: 430px){
    .imgProductos{ max-width: 500px ;
    }
    .descripcionProductoCarrito{
        max-width: 500px ;
    }
    .tituloProducto{
        font-size: 1em;
    }
    .precios{
        font-size: 1em;
    }

}

@media (min-width: 801px){
    
    .precioProdTotal{
        font-size: 20px;
    }
    .botonPago{
        font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .precios{
        margin-left: 2%;
        color: #3AAFB9;
        font-weight: 600;
        font-size: 1.3em;
        margin-top: 20px;
        width: 100%;
    }
    
.tituloProducto{
    color: #3AAFB9;
    font-size: 1.5em;
    margin-top: 10%;
}

}