<footer>
    <div class="secciones">
        <p class="titulo">Unite a la comunidad Pear</p>
        <div>
            <form action="/" method="POST">
                <input type="email" id="emailSuscripcion" placeholder="   Email">
                <button type="submit" class="botonSuscribirme" onclick="location.href='/'">Suscribirme</button>
            </form>
        </div>
    </div>
    <div class="secciones">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-google"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>
    <img src="/img/p2.png" alt="logo_pear2" class="logoFooter">
    <div class="secciones">
        <p class="footer-heart corazon">
            Hecho con <img class="emoji"height="30" width="30" src="https://img.icons8.com/fluency/48/000000/pixel-heart.png"/> desde <img class="emoji"height="30" width="30"src="https://img.icons8.com/fluency/48/000000/argentina-circular.png"/> <img class="emoji"height="30" width="30"src="https://img.icons8.com/fluency/48/000000/colombia-circular.png"/> <img class="emoji"height="30" width="30" src="https://img.icons8.com/fluency/48/000000/chile-circular.png"/>
          </p>
        <p class="derechos">© 2022 Grupo 7, Digital House</p>
        <a href="/" class="derechos">Terminos y Condiciones</a>
        <a href="/" class="derechos">Acuerdo de Privacidad</a>
    </div>
</footer>