<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs", {titulo: "Pear, sitio de compra y venta de NFT", cssSheet: "notfound"}) %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <!-- Nombre, Precio, Descripcion, archivo (enlace) -->
        <div class="container-principal">
            <p class="error">No puedes acceder a esta sección</p>
            <img src="/img/images/not_found.png" class="notfound" alt=""">
        </div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>

</html>